html{
  font-family: 'Titillium Web', sans-serif;

}
input, select{
color:gray;
border-radius: 5px
}

.sport-title{
  padding:19px
}
body{
  padding-bottom:500px;
  background-color: white;

}
footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: black;
   color: white;
   text-align: center;
   text-shadow: 1px 1px black;
   color:white;
   font-size: 10px
}

.signout{
  padding-right: 100px
}

.teamLogo{
  max-width: 200px
}

.sportLogo{
  border-radius: 20px;
  border-width: 5px;
  border-color: navy;
  border-style: double;
}
.nav-link{
  font-size: 12px;
  color:white

}
.greeting{
  color:white
}
.sport-desc{
  border-color: black;
  border-width: thick;
  border-style: solid;
  padding: 50px;
  border-radius: 20px
}

.column-heading{
  border-width: 1px;
  border-color: black;
  border-style: solid;
  font-size: 22px;
  text-shadow: 1px 1px #ffffff
}

.column-info{
  border-width: 1px;
  border-color: black;
  border-style: solid;
  font-size: 18px
}

.list-group-item{
  border-width: 1px;
  border-color: black;
  border-style: solid;
}
.basketballplayer{
color:black;
text-shadow:1px 1px blue
}
.baseballplayer{
  color:black;
  text-shadow:1px 1px red
}
.footballplayer{
  color:black;
  text-shadow:1px 1px green
}
.hockeyplayer{
  color:black;
  text-shadow:1px 1px purple
}

.basketballteam{
  color:black;
  text-shadow:1px 1px blue
}

.footballteam{
  color:black;
  text-shadow:1px 1px green
}

.baseballteam{
  color:black;
  text-shadow:1px 1px red
}

.hockeyteam{
  color:black;
  text-shadow:1px 1px purple

}

.selected{
background-color: red
}

.drafted{

}


hr{
  background-color: green
}

.game-data{
  padding:10px
}

.search-clear{
  padding-left: 50px;
  padding-right: 50px
}
/*
9fd356
#342e37
#fafffd
#3c91e6
#fa824c */
