.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

footer{
  padding-top: 100px;
  background-color: purple;
  color:white
}
.sportLogo{
  width:75px
}
.teamLogo{
  width:100px
}
.component{
  color:white;
  background-color: #11283e;
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 20.5V18H0v-2h20v-2H0v-2h20v-2H0V8h20V6H0V4h20V2H0V0h22v20h2V0h2v20h2V0h2v20h2V0h2v20h2V0h2v20h2v2H20v-1.5zM0 20h2v20H0V20zm4 0h2v20H4V20zm4 0h2v20H8V20zm4 0h2v20h-2V20zm4 0h2v20h-2V20zm4 4h20v2H20v-2zm0 4h20v2H20v-2zm0 4h20v2H20v-2zm0 4h20v2H20v-2z' fill='%2392ac99' fill-opacity='0.59' fill-rule='evenodd'/%3E%3C/svg%3E");

}
.list-group-item{
  color:blue;
  font-size: 18px;
  font-weight: bold;
}

.athleteinfo{
  font-size: 25px;
  color:green;
  font-weight: bold;
  text-shadow: 2px 2px white
}
.landing{
  font-size: 25px;
  color:orange;
  font-weight: bold;
  text-shadow: 2px 2px black
}
.heading{
  font-size: 50px;
  font-weight: bold;
  color:red;
  text-shadow: 2px 2px white
}
.editprofile, .dashboard{
  font-size: 25px;
  font-weight: bold;
  color:white;
  text-shadow: 2px 2px gray
}
.athlete-heading{
  font-size:25px;
  font-weight: bold;
  color:blue;
  text-shadow: 2px 2px white
}
.sport-heading{
  font-size: 25px;
  font-weight: bold;
  color:yellow;
  text-shadow: 1px 1px black
}
.team-heading{
  font-size: 25px;
  font-weight: bold;
  color:yellow;
  text-shadow: 1px 1px black
}
.team-info{
  font-size: 25px;
  font-weight: bold;
  color:yellow;
  text-shadow: 1px 1px black
}
.roster-heading{
  font-size: 25px;
  font-weight: bold;
  color:yellow;
  text-shadow: 1px 1px black
}
.roster-info{
  font-size: 25px;
  font-weight: bold;
  color:yellow;
  text-shadow: 1px 1px black
}
.nav{
  font-size: 20px
}
.invisible{
  visibility: hidden;
}
button{
  padding:18px;
  font-size: 20px
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


html{
  font-family: 'Titillium Web', sans-serif;
}
